.btn {
    background-color: #936cf7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 85px;
    height: 55px;
}

.btn:hover {
    background-color: #52ff7a;
}

.btn.equal {
    background-color: #936cf7;
    border: none;
}

.btn.equal:hover {
    background-color: #52ff7a;
}